// .comp_group_head {
//   overflow: hidden;
// }

h1, h2, h3, p, table, div, form {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


#header {
  background-color: #e9e9e9;
  margin-bottom: 30px;
  border-bottom: 2px solid #D99693;
}

#bike_lookup {
  padding: 30px 0;
}

#bike_content, #bike_lookup {
  width: 60%;
  margin: 0 auto;
}


#bike_title {
  font-weight: bold;
  // color: #D99693;
  font-family: 'Abril Fatface', cursive;
  // margin: 0;
}


#bike_thumb {
  margin-bottom: 15px;
}

h2 {
  color: #D99693;
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

#components_display {
  margin-top: 50px;
}

.comp_group_wrapper {
  margin: 0 0 50px 0;
  width: 100%
}

.comp_group_head {
  // font-weight: bold;
}

table, tr, td, th {
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #CCC;
}

.comp_type_name {
  font-weight: 400;
  text-transform: capitalize;
}

.comp_group_table {
  width: 100%;
  // border: 1px solid #CCC;
  // margin: 50px 0;
}

tr:nth-child(even) {
  background-color: #faf2f2;
}

tr {
  vertical-align: middle;
  overflow: hidden;
}

th {
  text-align: left;
  // vertical-align: middle;
}

.comp_group_img {
  // position: absolute;
  // z-index: -1;
  // left: 5%;
  // width: 10%;
  // vertical-align: bottom;
  // margin-right: 15px;
  display: none;
}