// .comp_group_head {
//   overflow: hidden;
// }


#bike_lookup {
  margin: 20px 100px;
  margin-top: 0;
  padding: 20px;
  background-color: #e9e9e9;
}

table, tr, td, th {
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #CCC;
}

#bike_header {
  margin: 0 100px;
  // padding: 20px;
}

#components_display {
  margin: 0 100px;
  // padding: 20px;
}

.comp_group_table {
  width: 100%;
  // border: 1px solid #CCC;
  margin: 50px 0;
}

tr:nth-child(even) {
  background-color: #e9e9e9;
}

tr {
  vertical-align: middle;
  overflow: hidden;
}

th {
  text-align: left;
  vertical-align: middle;
}

.comp_group_img {
  width: 50px;
  display: block;
  float: right;
  // vertical-align: bottom;
  // margin-right: 15px;

}